body {
  background-color: #dbe2ef;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #3f72af;
}

img {
  height: auto;
  width: 350px;
}
.index-photos {
  float: left;
}

.jumbotron {
  background-color: #f9f7f7;
  color: #112d4e;
}

