body {
  background-color: #dbe2ef;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #112d4e;
}

img {
  height: auto;
  width: 350px;
}
.index-photos {
  float: left;
}

#animal-shelter {
  color: red;
}